<h1>Listing strokes</h1>

<table>
  <tr>
    <th>Brush type</th>
    <th>Color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @strokes.each do |stroke| %>
  <tr>
    <td><%= stroke.brush_type %></td>
    <td><%= stroke.color %></td>
    <td><%= link_to 'Show', [stroke.painting, stroke] %></td>
    <td><%= link_to 'Edit', edit_painting_stroke_path(stroke.painting, stroke) %></td>
    <td><%= link_to 'Destroy', [stroke.painting, stroke], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stroke', new_painting_stroke_path(params[:painting_id]) %>
